@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;

  max-width: 130rem;
  padding: 0 6rem;
  margin: 0 auto;
  height: 9.6rem;
  background-color: $main-background-color;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tab-land) {
    max-width: 100%;
  }

  @include respond(phone) {
    padding: 2.4rem 1.6rem;
  }

  @include respond(big-desktop) {
    max-width: 144rem;
  }

  &__logo {
    font-family: $font-primary;
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 400;

    @include respond(phone) {
      font-size: 2.8rem;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: $text-color;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    transition: all 0.4s ease-out;

    @include respond(tab-port) {
      border-radius: 1rem;
      background-color: $secondary-background-color;
      position: absolute;
      // top: 9.6rem;
      // top: 12rem;
      top: -80rem;
      right: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 30rem;
      height: 60vh;

      li {
        border-radius: 1rem;
        width: 60%;
        text-align: center;
        transition: all 0.2s;
        background-color: $main-background-color;

        &:hover {
          background-color: $accent-color;
          color: #000 !important;
        }
      }
    }

    @include respond(phone) {
      height: 40vh;
      width: 100%;
      justify-content: center;
      border-radius: 0;
      gap: 4rem;
    }

    &--open {
      top: 9.5rem;
    }
  }

  &__item:link,
  &__item:visited {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 2.4rem;
    letter-spacing: -1px;
    color: $text-color;

    @include respond(tab-port) {
      &:hover {
        color: #000;
      }
    }
  }

  &__bars {
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: $text-color;
    width: 3.2rem;
    height: 1.5rem;
    cursor: pointer;
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }
}
