@use '../../../sass/abstract/variables' as *;

.more-about {
  padding: 16rem 10.8rem 4rem 10.8rem;
  margin: 0 auto;
  max-width: 144rem;

  &__details {
    margin-bottom: 12rem;
    display: flex;
    gap: 21.3rem;
  }

  &__title {
    flex: 1 0 30.7rem;
    font-size: 10.1rem;
    line-height: 9rem;
    color: $white-color;
  }

  &__subtitle {
    margin-bottom: 1.6rem;
    font-family: $font-secondary;
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: $white-color;
  }

  &__description {
    margin-bottom: 5.3rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  &__contact-buttons {
    display: flex;
    gap: 1.6rem;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    background-color: $text-color;
  }
}
