@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.contact {
  max-width: 130rem;
  margin: 0 auto;
  padding: 5.5rem 10.8rem 8rem 10.8rem;
  display: flex;
  gap: 2.4rem;

  & > footer {
    display: none;
  }

  @include respond(tab-port) {
    flex-direction: column;
    gap: 4rem;
    padding: 6.4rem 10.8rem;

    & > footer {
      display: block;
    }
  }

  @include respond(phone) {
    padding: 6.4rem 1.6rem;
  }

  @include respond(big-desktop) {
    max-width: 144rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    gap: 36rem;
    justify-content: space-between;

    @include respond(tab-port) {
      footer {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 1.6rem;
    font-size: 7.6rem;
    line-height: 7.6rem;
    color: $white-color;

    @include respond(tab-port) {
      font-size: 4.3rem;
      line-height: 4.3rem;
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.8rem;
    line-height: 2.7rem;

    @include respond(tab-port) {
      font-size: 1.6rem;
      line-height: 2.5rem;
    }

    a {
      color: $white-color;
      text-decoration: none;
      border-bottom: 1px solid $accent-color;
    }
  }

  &__social-networks {
    margin-top: 4rem;
    display: flex;
    gap: 2.4rem;

    @include respond(tab-port) {
      gap: 3.2rem;
    }

    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
