@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.form {
  width: 100%;
  // flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-port) {
    margin-bottom: 8rem;
    gap: 2rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  &__input,
  &__text-area {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 1.2rem 1.6rem;
    display: block;
    font-size: 1.8rem;
    color: $text-color;
    background-color: $secondary-background-color;
    transition: all 0.3s;
    font-family: $font-secondary;

    &::placeholder {
      color: $text-color;
    }

    &:valid {
      background-color: $secondary-background-color;
    }
  }

  &__label {
    margin-left: 1.8rem;
    display: block;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label,
  &__text-area:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__text-area {
    width: 60rem;
    height: 15.6rem;
    resize: none;

    @include respond(tab-land) {
      width: 100%;
    }
  }

  &__input {
    height: 5rem;
  }

  button {
    margin-top: 4rem;
    align-self: flex-start;
    justify-self: flex-end;
  }
}
