@use '../../../sass/abstract/variables' as *;

.experience-section {
  max-width: 144rem;
  margin: 0 auto;
  padding: 8rem 10.8rem;
  border-bottom: 1px solid $secondary-background-color;
  display: flex;

  &__title {
    flex: 1 0 50%;
    font-size: 7.6rem;
    line-height: 7.6rem;
    color: $white-color;
  }

  &__group-info:not(:last-child) {
    margin-bottom: 8rem;
  }

  &__position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-secondary;
    font-size: 2.4rem;
    font-weight: 500;
    color: $white-color;
    line-height: 3.1rem;
  }

  &__duration {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $text-color;
  }

  &__company {
    margin-top: 0.8rem;
    line-height: 2.8rem;
    color: $accent-color;
  }

  &__details {
    margin-top: 1.6rem;
  }
}
