@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.project {
  display: flex;
  gap: 4.8rem;

  @include respond(tab-port) {
    flex-direction: column;

    gap: 4rem;
  }

  &__image-container {
    border-radius: 1.2rem;
    position: relative;
    padding: 12.6rem 5.7rem;
    background-color: $secondary-background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      flex: 1 0 50%;
      padding: 12.6rem 3.2rem;

      img {
        width: 100%;
        border-radius: 1.4rem;
      }
    }

    &:first-child {
      @include respond(tab-port) {
        padding: 8rem 3.2rem;
      }
    }
  }

  &__image {
    border-radius: 1.4rem;
  }

  &__tag {
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    border-radius: 10rem;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    background-color: $main-background-color;
    color: $white-color;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__box-info {
    padding: 6rem 0;

    @include respond(tab-land) {
      padding: 0;
    }
  }

  &__title {
    font-family: $font-secondary;
    margin-bottom: 1.6rem;
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: $white-color;

    @include respond(tab-port) {
      font-size: 2.4rem;
      line-height: 3.3rem;
    }
  }

  &__description {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    line-height: 2.7rem;

    @include respond(tab-port) {
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 4.8rem;

    th,
    td {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      border-bottom: 1px solid $secondary-background-color;
    }

    th {
      padding-bottom: 1.6rem;
      font-family: $font-secondary;
      text-transform: uppercase;
      text-align: start;
      color: $white-color;
    }

    td {
      padding: 1.6rem 0;
    }

    td:last-child {
      text-align: right;
    }
  }

  &__buttons {
    display: flex;
    gap: 2.4rem;
  }
}
